<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{$context_path}/images/favicon.ico">

    <title>税票信息录入</title>
    {include file='/library/head_top.lbi'}
    <link href="{$context_path}/styles/wjb/wjb-crm-css.css" rel="stylesheet">
    <link href="{$context_path}/styles/bootstrap.3.3.7/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="{$context_path}/styles/member.css" rel="stylesheet">
    <link href="{$context_path}/styles/jquery/jquery-ui.min.css" rel="stylesheet">
  </head>

  <body>
  	<!-- 导航 -->
	{include file='/library/body_top.lbi'}

    <div class="container-fluid">
      <div class="row">
        <!-- 会员管理左侧菜单 -->
        {include file='/library/left.lbi'}
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="mem-info">
				<div class="mem-info-bd">
					<div class="line">
					<form id='project_check_form' name='project_check_form' method="post" action="{$context_path}/projectcheck/taxinfo/submit">
						  {if $containsInvoiceInfo eq '0'}
						  <input type="hidden" id="id" name="id" value="-1"/>
						  <div class="item"><span class="tit">契税税票号码：</span>&nbsp;
						  <span class="con"><input type="text" value="" id="contact_tax_no" name= "contact_tax_no"/></span></div>
						  <div class="item"><span class="tit">契税开票日期：</span>&nbsp;
						  <span class="con"><input type="text" value="{$today}" id="contact_tax_date" name= "contact_tax_date"/></span></div>
						  <br/>
						  <div class="item"><span class="tit">印花税税票号码：</span>&nbsp;
						  <span class="con"><input type="text" value="" id="stamp_tax_no" name= "stamp_tax_no"/></span></div>
						  <div class="item"><span class="tit">印花税开票日期：</span>&nbsp;
						  <span class="con"><input type="text" value="{$today}" id="stamp_tax_date" name= "stamp_tax_date"/></span></div>
						  {/if}
						  {if $containsInvoiceInfo eq '1'}
						  <input type="hidden" id="id" name="id" value="{$contractTaxInfo.id}"/>
						  <div class="item"><span class="tit">契税税票号码：</span>&nbsp;
						  <span class="con"><input type="text" value="{$contractTaxInfo.contractTaxNo}" id="contact_tax_no" name= "contact_tax_no"/></span></div>
						  <div class="item"><span class="tit">契税开票日期：</span>&nbsp;
						  <span class="con"><input type="text" value="{$contractTaxInfo.contractTaxDate|date_format:'%Y-%m-%d'}" id="contact_tax_date" name= "contact_tax_date"/></span></div>
						  <br/>
						  <div class="item"><span class="tit">印花税税票号码：</span>&nbsp;
						  <span class="con"><input type="text" value="{$contractTaxInfo.stampTaxNo}" id="stamp_tax_no" name= "stamp_tax_no"/></span></div>
						  <div class="item"><span class="tit">印花税开票日期：</span>&nbsp;
						  <span class="con"><input type="text" value="{$contractTaxInfo.stampTaxDate|date_format:'%Y-%m-%d'}" id="stamp_tax_date" name= "stamp_tax_date"/></span></div>
						  {/if}
						  
						  <!-- start带出来的信息 -->
						  <div class="item"><span class="tit">契税税率：</span>
						  	<select name='contract_tax_rate' id='contract_tax_rate' disabled="disabled" style="width: 77px; margin-left: 4px">
						  		<option value='0.01' {if $houseContract.contractTaxRate eq '0.01'}selected="selected"{/if}>1%</option>
						  		<option value='0.015' {if $houseContract.contractTaxRate eq '0.015'}selected="selected"{/if}>1.5%</option>
						  		<option value='0.02' {if $houseContract.contractTaxRate eq '0.02'}selected="selected"{/if}>2%</option>
						  		<option value='0.04' {if $houseContract.contractTaxRate eq '0.04'}selected="selected"{/if}>4%</option>
						  	</select>
						  </div>
						  <div class="item"><span class="tit">契税税额：</span>
						  <span class="con"><input type="text" value="{$houseContract.contractTax}" readonly="readonly" id="contract_tax" name="contract_tax" style="margin-left: 4px"/></span></div>
						  
						  <div class="item"><span class="tit">印花税税率：</span>
						  	<select name='stamp_duty_rate' id='stamp_duty_rate' disabled="disabled" style="width: 77px; margin-left: 4px">
						  		<option value='0.0005' {if $houseContract.stampDutyRate eq '0.0005'}selected="selected"{/if}>0.05%</option>
						  		<option value='0' {if $houseContract.stampDutyRate eq '0'}selected="selected"{/if}>无</option>
						  	</select>
						  	<input readonly="readonly" type="text" value="{$houseContract.stampDutyAmount}" id="stamp_duty_amount" name= "stamp_duty_amount" class="input-amount-width"/>
						  </div>
						  
						  {if $containsInvoiceInfo eq '1'}
						  <div class="item"><span class="tit"><a href="{$context_path}/housecontract/viewinvoicefile?id={$contractTaxInfo.id}" target="_blank">相关附件</a></span>
						  </div>
						  {/if}
						  							
						  <input type="hidden" value="{$houseContract.id}" id="house_contract_id" name="house_contract_id" readonly="readonly"/>	                			
						  <!-- end带出来的信息 -->
					 </div>
				</div>
				<br/>
            </div>
            {if $containsInvoiceInfo eq '0'}
				<button type="button" class="mem-save-btn btn btn-primary" onclick="saveProjectCheckTaxInfo()" style="margin-left: 20px">保存</button>
			{/if}
			{if $containsInvoiceInfo eq '1'}
				<button type="button" class="mem-save-btn btn btn-primary" onclick="saveProjectCheckTaxInfo()" style="margin-left: 20px">保存</button>
				<button type="button" class="mem-save-btn btn btn-primary" onclick="toscan()" style="margin-left:14px">扫描</button>
				<button type="button" class="mem-save-btn btn btn-primary" onclick="history.back()" style="margin-left:14px">返回</button>
			{/if}
			</form>
		</div>
	  </div>
	</div>
		  	<!-- 引入bash_js -->
    {include file='/library/base_js.lbi'}
	<script src="{$context_path}/javascript/jquery-ui.min.js"></script>
	<script src="{$context_path}/javascript/jquery.ui.datepicker-zh-CN.js"></script>
    
<script>
$(function(){
	$( "#contact_tax_date" ).datepicker({ dateFormat: 'yy-mm-dd'});
	$( "#stamp_tax_date" ).datepicker({ dateFormat: 'yy-mm-dd'});
});

function toscan() {
	window.location.href = "{$context_path}/housecontract/toscan_invoice?id={$contractTaxInfo.id}"
}

function saveProjectCheckTaxInfo() {
	var id = $("#id").val();
	var contact_tax_date = $("#contact_tax_date").val();
	var stamp_tax_date = $("#stamp_tax_date").val();
	var contract_tax_no = $("#contact_tax_no").val();
	var stamp_tax_no = $("#stamp_tax_no").val();
	if (contact_tax_date.trim() == "") {
		alert("请录入契税开票日期");
		return;
	}
	if (stamp_tax_date.trim() == "") {
		alert("请录入印花税开票日期");
		return;
	}
	if (contract_tax_no.trim() == "") {
		alert("请录入契税税票号码");
		return;
	}
	if (stamp_tax_no.trim() == "") {
		alert("请录入印花税税票号码");
		return;
	}
	
	$.post(
			'{$context_path}' + "/housecontract/api/taxinfo/submit",	
    		 {'id':id,'house_contract_id': $('#house_contract_id').val(), 'contract_tax_no':contract_tax_no,
				'stamp_tax_no':stamp_tax_no, 'contact_tax_date':contact_tax_date, 'stamp_tax_date':stamp_tax_date},
    		function(data) {
				//console.log(data);
    			if(data.code == 1){
    				alert("保存成功");
    			} else {
    				alert("保存失败");
    			}
    		},
    		'JSON'
    	);  
}
</script>
</body>
</html>
