<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{$context_path}/images/favicon.ico">

    <title>工程审核列表</title>
    {include file='/library/head_top.lbi'}
    <link href="{$context_path}/styles/wjb/wjb-crm-css.css" rel="stylesheet">
    <link href="{$context_path}/styles/bootstrap.3.3.7/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="{$context_path}/styles/member.css" rel="stylesheet">
    <script type="text/javascript">
    var $context_path = "{$context_path}";
    </script>
    
  </head>

  <body>
  	<!-- 导航 -->
	{include file='/library/body_top.lbi'}

    <div class="container-fluid">
      <div class="row">
        <!-- 会员管理左侧菜单 -->
        {include file='/library/left.lbi'}
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h3 class="page-header">工程审核列表
          	<a href="{$context_path}/projectcheck/toadd" class="btn btn-large btn-primary" style="margin-left:100px;">新建工程审核信息</a>
          	<div class="input-group member-search">
  			  <input type="text" class="form-control" placeholder="请输入纳税人名称" aria-describedby="basic-addon2" value="{$taxpayerName}"  name="search_taxpayer_name" id="search_taxpayer_name">
  			  <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon2" style="top:0px;cursor:pointer;" onclick = "search()"></span>
		    </div>
          </h3>
	      <!-- end 会员列表内容 -->
	      <input type="hidden"  id ="rule_id" value={$ruleId}>
	      <div class="table-responsive">
		      <table class="table table-striped">
	              <thead>
	                <tr>
	                  <th width="10%">工程编号</th>
	                  <th width="17%">工程项目名称</th>
	                  <th width="13%">纳税人名称</th>
	                  <th width="17%">纳税人识别号</th>
	                  <th width="20%">工程总造价</th>
	                  <th width="30%">操作</th>
	                </tr>
	              </thead>
	           </table>
	           <!-- start 循环展示会员信息 -->
	            <div>
	              <table class="table table-striped table-hover member-table">
	              <!-- {foreach from=$projectChecks item=projectCheck key=key} -->
	                	<tr>
	                		<td width="10%">
	                			{$projectCheck.serialNum}
	                		</td>
	                		<td width="20%">
	                		  	{$projectCheck.projectName}
							</td>
	                		<td width="7%">
	                			{$projectCheck.taxpayerName}
	                		</td>
	                		<td width="20%">
	                			 {$projectCheck.taxpayerIdentifyNum}
	                		</td>
	                		<td width="13%">
	                			 {$projectCheck.projectTotalCost|string_format:"%.0f"}
	                		</td>
	                		<td width="30%">
	                			<a href="{$context_path}/projectcheck/toprint?serial_num={$projectCheck.serialNum}" target="blank">打印</a>&nbsp;
	                			<a href="{$context_path}/projectcheck/toview?serial_num={$projectCheck.serialNum}&is_edit=0">详情</a>&nbsp;
	                			<a href="{$context_path}/projectcheck/toview?serial_num={$projectCheck.serialNum}&is_edit=1">修改</a>&nbsp;
	                			<a href="{$context_path}/projectcheck/taxinfo/toadd?serial_num={$projectCheck.serialNum}">补录税票信息</a>&nbsp;
	                			<a href="{$context_path}/projectcheck/toscan?serial_num={$projectCheck.serialNum}" target="_blank">合同扫描</a>&nbsp;
	                			{if $delete_projectcheck eq 'y'}
	                			<a href="#" onclick="deleteItem('{$projectCheck.serialNum}')">删除</a>
	                			{/if}
	                		</td>
	                	</tr>
			      <!-- {/foreach} -->        
	              </table>
	            </div>
	            {include file='/library/page.lbi'}
        	</div>
      </div>
    </div>
    <div class="alert alert-danger user-status-failure" style="display:none;" role="alert"></div>
	<!-- 引入bash_js -->
    {include file='/library/base_js.lbi'}
	<script type="text/javascript" src="{$context_path}/javascript/jquery.tmpl.min.js"></script>
    <script src="{$context_path}/javascript/common/page.js"></script>
    
    
    <script>
   	 var context_path = '{$context_path}';
   	 
   	$(document).ready(function(){
   		$('#search_taxpayer_name').bind('keydown', keyDownSearch);
   	});
   	
   	keyDownSearch = function(e) {
		if (e.keyCode == 13) {
   			search();
		}
   	};
   	 function search() {
   		 var taxPayerName = $('#search_taxpayer_name').val();
   		 window.location.href = '{$context_path}' + "/projectcheck/list?taxpayer_name=" + taxPayerName;
   	 }
   	 
   	 function deleteItem(serialNum) {
   		if (!confirm("是否确定删除?")) {
   			return;
   		}
   		
   		$.post(
   				'{$context_path}' + "/projectcheck/api/delete",
   				{'serial_num': serialNum},
   				function(data) {
   	    			if(data.code == 1) {
				   		alert("删除成功！");
				   		window.location.href = '{$context_path}' + "/projectcheck/list"
   	    			}
   	    		},
    		'JSON'
    	); 
   	 }
	</script>
  </body>
</html>
