<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{$context_path}/images/favicon.ico">

    <title>工程审核录入</title>
    {include file='/library/head_top.lbi'}
    <link href="{$context_path}/styles/wjb/wjb-crm-css.css" rel="stylesheet">
    <link href="{$context_path}/styles/bootstrap.3.3.7/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="{$context_path}/styles/member.css" rel="stylesheet">
    
    
  </head>

  <body>
  	<!-- 导航 -->
	{include file='/library/body_top.lbi'}

    <div class="container-fluid">
      <div class="row">
        <!-- 会员管理左侧菜单 -->
        {include file='/library/left.lbi'}
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="mem-info">
				<form id='project_check_form' name='project_check_form' method="post" action="{$context_path}/projectcheck/submit">
				<div class="mem-info-bd">
					<div class="line">
						  <div class="item"><span class="tit">编号：</span>&nbsp;
						  <span class="con"><input type="text" value="{$projectCheck.serialNum}" id="serial_num" name= "serial_num" readonly="readonly" style="margin-left: -4px"/></span></div>	                			
						  <div class="item"><span class="tit">纳税人识别号：</span>
						  <span class="con"><input readonly="readonly" type="text" value="{$projectCheck.taxpayerIdentifyNum}" id="taxpayer_identify_num" name= "taxpayer_identify_num"/></span></div>
						  <div class="item"><span class="tit">纳税人名称：</span>
						  <span class="con"><input readonly="readonly" type="text" value="{$projectCheck.taxpayerName}" id="taxpayer_name" name= "taxpayer_name"/></span></div>
						  <div class="item"><span class="tit">工程项目名称：</span>
						  <span class="con"><input readonly="readonly" type="text" value="{$projectCheck.projectName}" id="project_name" name= "project_name"/></span></div>
						  <div class="item"><span class="tit">工程项目地址：</span>
						  <span class="con"><input readonly="readonly" type="text" value="{$projectCheck.projectAddress}" id="project_address" name= "project_address"/></span></div>
						  <div class="item"><span class="tit">工程发包方：</span>
						  <span class="con"><input readonly="readonly" type="text" value="{$projectCheck.projectConstructor}" id="project_constructor" name= "project_constructor"/></span></div>
						  <div class="item"><span class="tit">发包方纳税人识别号：</span>
						  <span class="con"><input readonly="readonly" type="text" value="{$projectCheck.constructorIdentifyNum}" id="constructor_identify_num" name= "constructor_identify_num"/></span></div>
						  <div class="item"><span class="tit">工程总造价：</span>
						  <span class="con"><input readonly="readonly" type="text" value="{$projectCheck.projectTotalCost}" id="project_total_cost" name= "project_total_cost"/></span></div>
					 	  <div class="item"><span class="tit">是否完工：</span>
						  <select name='is_down' id='is_down' disabled="disabled">
						  		<option value='完工' {if $projectCheck.isDown eq '完工'}selected="selected"{/if}>完工</option>
						  		<option value='进度款' {if $projectCheck.isDown eq '进度款'}selected="selected"{/if}>进度款</option>
						  		<option value='一事一议工程' {if $projectCheck.isDown eq '一事一议工程'}selected="selected"{/if}>一事一议工程</option>
						  		<option value='扶贫办项目' {if $projectCheck.isDown eq '扶贫办项目'}selected="selected"{/if}>扶贫办项目</option>
						  </select></div>
					 	  <div class="item"><span class="tit">本次开票金额：</span>&nbsp;
						  <span class="con"><input readonly="readonly" type="text" value="{$projectCheck.invoiceAmount}" id="invoice_amount" name= "invoice_amount" style="margin-left: -4px"/></span></div>
						  <div class="item"><span class="tit">增值税率：</span>
						  	<select name='appreciation_rate' id='appreciation_rate' style="width:77px;" disabled="disabled">
						  		<option value='0.03' {if $projectCheck.appreciationRate eq 0.03} selected="selected"{/if}>3%</option>
						  		<option value='0.05' {if $projectCheck.appreciationRate eq 0.05} selected="true"{/if}>5%</option>
						  	</select>
						  	<input readonly="readonly" type="text" value="{$projectCheck.appreciationTaxAmount}" id="appreciation_tax_amount" name= "appreciation_tax_amount" class="input-amount-width"/>
						  </div>
						  <div class="item"><span class="tit">所得税率：</span>&nbsp;
						  	<select name='income_rate' id='income_rate' disabled="disabled" style="width:77px;margin-left: -4px">
						  		<option value='0.015' {if $projectCheck.incomeRate eq 0.015}selected="selected"{/if}>1.5%</option>
						  		<option value='0.02' {if $projectCheck.incomeRate eq 0.02}selected="selected"{/if}>2%</option>
						  	</select>
						  	<input readonly="readonly" type="text" value="{$projectCheck.incomeTaxAmount}" id="income_tax_amount" name= "income_tax_amount" class="input-amount-width"/>
						  </div>
					 	  <div class="item"><span class="tit">所得税归属：</span>
						  	<select name='income_affiliation' id='income_affiliation' disabled="disabled" style="width:77px">
						  		<option value='地税' {if $projectCheck.incomeAffiliation eq '地税'}selected="selected"{/if}>地税</option>
						  		<option value='国税' {if $projectCheck.incomeAffiliation eq '国税'}selected="selected"{/if}>国税</option>
						  	</select>
						  </div>
						  <div class="item"><span class="tit">城建税率：</span>&nbsp;
						  	<select name='urban_tax_rate' id='urban_tax_rate' disabled="disabled" style="width:77px;margin-left: -4px">
						  		<option value='0.05' {if $projectCheck.urbanTaxRate eq '0.05'}selected="selected"{/if}>5%</option>
						  		<option value='0.1' {if $projectCheck.urbanTaxRate eq '0.1'}selected="selected"{/if}>10%</option>
						  	</select>
						  	<input readonly="readonly" type="text" value="{$projectCheck.urbanTaxAmount}" id="urban_tax_amount" name= "urban_tax_amount" class="input-amount-width"/>
						  </div>
					 	  <div class="item"><span class="tit">教育费附加：</span>
						  <span class="con"><input readonly="readonly" type="text" value="{$projectCheck.educationAdditionAmount}" id="education_addition_amount" name= "education_addition_amount"/></span></div>
					 	  <div class="item"><span class="tit">地方教育费附加：</span>
						  <span class="con"><input readonly="readonly" type="text" value="{$projectCheck.localEducationAdditionAmount}" id="local_education_addition_amount" name= "local_education_addition_amount"/></span></div>
						  <div class="item"><span class="tit">印花税：</span>
						  	<select name='stamp_duty_rate' id='stamp_duty_rate' style="display:none">
						  		<option value='0.0003'>0.3%</option>
						  	</select>
						  	<input readonly="readonly" type="text" value="{$projectCheck.stampDutyAmount}" id="stamp_duty_amount" name= "stamp_duty_amount"/>
						  </div>
					 	  <div class="item"><span class="tit">工会经费：</span>
						  	<input readonly="readonly" type="text" value="{$projectCheck.laborUnionAmount}" id="labor_union_amount" name= "labor_union_amount"/>
						  </div>
					 	  <div class="item"><span class="tit">水利建设专项收入：</span>
						  	<input readonly="readonly" type="text" value="{$projectCheck.waterConstructAmount}" id="water_construct_amount" name= "water_construct_amount"/>
						  </div>
					 	  <div class="item"><span class="tit">纳税经办人：</span>&nbsp;
						  <span class="con"><input readonly="readonly" type="text" value="{$projectCheck.payTaxUser}" id="pay_tax_user" name= "pay_tax_user" style="margin-left: -4px"/></span></div>
					 	  <div class="item"><span class="tit">联系电话：</span>
						  <span class="con"><input readonly="readonly" type="text" value="{$projectCheck.contactsPhone}" id="contacts_phone" name= "contacts_phone"/></span></div>
					 	  <div class="item"><span class="tit">经办人：</span>
						  <span class="con"><input type="text" value="{$projectCheck.operatorName}" id="operator_name" name= "operator_name"/></span></div>
					 	  <div class="item"><span class="tit">负责人：</span>
							  <select name='duty_user_name' id='duty_user_name' style="width: 77px">
							  		<!-- {foreach from=$dutyUsers item=dutyUser key=key} -->
							  		<option value='{$dutyUser.name}' {if $dutyUser.name eq $projectCheck.dutyUserName}selected="selected"{/if}>{$dutyUser.name}</option>
							  		<!-- {/foreach} -->
							  </select>
						  </div>
						  <div class="item"><span class="tit"><a href="{$context_path}/projectcheck/viewfile?serial_num={$projectCheck.serialNum}" target="_blank">相关附件</a></span>
				  			<!-- {foreach from=$projectCheck.checkFiles item=checkFile name=idx key=key}
					  			<a href="{$context_path}/data/{$checkFile.fileName}" target="blank">{$checkFile.name}</a>
					  		{/foreach}  -->
						  </div>
					 </div>
				</div>
				<br/>
				<button type="button" class="mem-save-btn btn btn-primary" style="margin-left:17px" onclick="nextProjectCheck()" style="">下一工程</button>
				<button type="button" class="mem-save-btn btn btn-primary" style="margin-left:17px" onclick="toPrint()" style="">打印</button>
				<button type="button" class="mem-save-btn btn btn-primary" style="margin-left:17px" onclick="history.back()" style="">返回</button>
			</form>
            </div>
		  	<!-- 引入bash_js -->
    {include file='/library/base_js.lbi'}
    <script src="{$context_path}/javascript/bootstrap.3.3.7/bootstrap-datetimepicker.min.js"></script>
    <script src="{$context_path}/javascript/bootstrap.3.3.7/bootstrap-datetimepicker.zh-CN.js"></script>
    
<script>

function nextProjectCheck() {
	window.location.href = "{$context_path}/projectcheck/toadd";
}

function toPrint() {
	window.location.href = "{$context_path}/projectcheck/toprint?serial_num={$projectCheck.serialNum}";
}
</script>
</body>
</html>
