<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{$context_path}/images/favicon.ico">

    <title>税票信息录入</title>
    {include file='/library/head_top.lbi'}
    <link href="{$context_path}/styles/wjb/wjb-crm-css.css" rel="stylesheet">
    <link href="{$context_path}/styles/bootstrap.3.3.7/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="{$context_path}/styles/member.css" rel="stylesheet">
    <link href="{$context_path}/styles/jquery/jquery-ui.min.css" rel="stylesheet">    
  </head>

  <body>
  	<!-- 导航 -->
	{include file='/library/body_top.lbi'}

    <div class="container-fluid">
      <div class="row">
        <!-- 会员管理左侧菜单 -->
        {include file='/library/left.lbi'}
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="mem-info">
				<div class="mem-info-bd">
					<div class="line">
					<form id='project_check_form' name='project_check_form' method="post" action="{$context_path}/projectsettlement/taxinfo/submit">
						  {if $containsInvoiceInfo eq '0'}
						  <div class="item"><span class="tit">国税开票日期：</span>&nbsp;
						  <span class="con"><input type="text" value="{$today}" id="national_invoice_date" name= "national_invoice_date"/></span></div>
						  <div class="item"><span class="tit">国税发票号码：</span>&nbsp;
						  <span class="con"><input type="text" value="" id="national_invoice_no" name= "national_invoice_no"/></span></div>
						  <div class="item"><span class="tit">国税税票号码：</span>&nbsp;
						  <span class="con"><input type="text" value="" id="national_invoice_tax_no" name= "national_invoice_tax_no"/></span></div>
						  <br/>
						  <div class="item"><span class="tit">地税开票日期：</span>&nbsp;
						  <span class="con"><input type="text" value="{$today}" id="local_invoice_date" name= "local_invoice_date"/></span></div>
						  <div class="item"><span class="tit">地税税票号码：</span>&nbsp;
						  <span class="con"><input type="text" value="" id="local_invoice_tax_no" name= "local_invoice_tax_no"/></span></div>
						  {/if}
						  {if $containsInvoiceInfo eq '1'}
						  <div class="item"><span class="tit">国税开票日期：</span>&nbsp;
						  <span class="con"><input type="text" value="{$invoiceInfo.nationalInvoiceDate|date_format:'%Y-%m-%d'}" id="national_invoice_date" name= "national_invoice_date"/></span></div>
						  <div class="item"><span class="tit">国税发票号码：</span>&nbsp;
						  <span class="con"><input type="text" value="{$invoiceInfo.nationalInvoiceNo}" id="national_invoice_no" name= "national_invoice_no"/></span></div>
						  <div class="item"><span class="tit">国税税票号码：</span>&nbsp;
						  <span class="con"><input type="text" value="{$invoiceInfo.nationalInvoiceTaxNo}" id="national_invoice_tax_no" name= "national_invoice_tax_no"/></span></div>
						  <br/>
						  <div class="item"><span class="tit">地税开票日期：</span>&nbsp;
						  <span class="con"><input type="text" value="{if $invoiceInfo.localInvoiceDate eq null}{else}{$invoiceInfo.localInvoiceDate|date_format:'%Y-%m-%d'}{/if}" id="local_invoice_date" name= "local_invoice_date"/></span></div>
						  <div class="item"><span class="tit">地税税票号码：</span>&nbsp;
						  <span class="con"><input type="text" value="{if $invoiceInfo.localInvoiceTaxNo eq null}{else}{$invoiceInfo.localInvoiceTaxNo}{/if}" id="local_invoice_tax_no" name= "local_invoice_tax_no"/></span></div>
						  {/if}
						  <div class="item"><span class="tit">编号：</span>&nbsp;
						  <span class="con"><input type="text" readonly="readonly" value="{$projectSettlement.serialNum}" id="serial_num" name= "serial_num"/></span>
						  </div>
						  <div class="item"><span class="tit">税款：</span>&nbsp;
						  <span class="con"><input type="text" readonly="readonly" value="{$projectSettlement.refundTaxAmount}" id="refund_tax_amount" name= "refund_tax_amount"/></span>
						  </div>
						  {if $containsInvoiceInfo eq '1'}
						  <div class="item"><span class="tit"><a href="{$context_path}/projectsettlement/viewinvoicefile?serial_num={$projectSettlement.serialNum}" target="_blank">相关附件</a></span>
						  </div>
						  {/if}
					 </div>
				</div>
				<br/>
            </div>
            {if $containsInvoiceInfo eq '0'}
				<button type="button" class="mem-save-btn btn btn-primary" onclick="saveProjectCheckTaxInfo()" style="margin-left:14px">保存</button>
				<button type="button" class="mem-save-btn btn btn-primary" onclick="toprint(0)" style="margin-left:14px">打印</button>
			{/if}
			{if $containsInvoiceInfo eq '1'}
				<button type="button" class="mem-save-btn btn btn-primary" onclick="toprint(1)" style="margin-left:14px">打印</button>
				<button type="button" class="mem-save-btn btn btn-primary" onclick="toscan()" style="margin-left:14px">扫描</button>
				<button type="button" class="mem-save-btn btn btn-primary" onclick="history.back()" style="margin-left:14px">返回</button>
			{/if}
			</form>
		</div>
	  </div>
	</div>
		  	<!-- 引入bash_js -->
    {include file='/library/base_js.lbi'}
   	<script src="{$context_path}/javascript/jquery-ui.min.js"></script>
   	<script src="{$context_path}/javascript/jquery.ui.datepicker-zh-CN.js"></script>
    
<script>
$(function(){
	$( "#national_invoice_date" ).datepicker({ dateFormat: 'yy-mm-dd'});
	$( "#local_invoice_date" ).datepicker({ dateFormat: 'yy-mm-dd'});
});
$(document).ready(function(){

});

function toFloat(num) {
	return Math.round(num*100)/100;
}

function isfloat(oNum){
	if (!oNum) 
		return false;
	var strP=/^\d+(\.\d+)?$/;
	if (!strP.test(oNum)) return false;
	try {
		if(parseFloat(oNum)!=oNum)
			return false;
	} catch(ex) {
		return false;
	}
	return true;
}

function saveProjectCheckTaxInfo() {
	national_invoice_date = $("#national_invoice_date").val();
	national_invoice_no = $("#national_invoice_no").val();
	national_invoice_tax_no = $("#national_invoice_tax_no").val();
	if (national_invoice_date == "") {
		alert("国税开票日期不能为空");
		return;
	}
	if (national_invoice_no == "") {
		alert("国税发票号不能为空");
		return;
	}
	if (national_invoice_tax_no == "") {
		alert("国税税票号不能为空");
		return;
	}
	
	local_invoice_date = $("#local_invoice_date").val();
	local_invoice_tax_no = $("#local_invoice_tax_no").val();
	if (national_invoice_date == "") {
		alert("地税开票日期不能为空");
		return;
	}
	if (local_invoice_tax_no == "") {
		alert("地税税票号不能为空");
		return;
	}
	$('#project_check_form').submit();
}

function validate() {
	national_invoice_date = $("#national_invoice_date").val();
	national_invoice_no = $("#national_invoice_no").val();
	national_invoice_tax_no = $("#national_invoice_tax_no").val();
	if (national_invoice_date == "") {
		alert("国税开票日期不能为空");
		return false;
	}
	if (national_invoice_no == "") {
		alert("国税发票号不能为空");
		return false;
	}
	if (national_invoice_tax_no == "") {
		alert("国税税票号不能为空");
		return false;
	}
	
	local_invoice_date = $("#local_invoice_date").val();
	local_invoice_tax_no = $("#local_invoice_tax_no").val();
	if (national_invoice_date == "") {
		alert("地税开票日期不能为空");
		return false;
	}
	if (local_invoice_tax_no == "") {
		alert("地税税票号不能为空");
		return false;
	}
	return true;
}

function toprint(label) {
	if (label == 1) {
		//直接打印
		window.location.href = '{$context_path}' + "/projectsettlement/bills/toprint?serial_num={$projectSettlement.serialNum}";
		return;
	}
	
	if (label == 0) {
		if (!validate()) {
			return;
		}
		
		$.post(
				'{$context_path}' + "/projectsettlement/api/taxinfo/submit",	
				{'serial_num':$('#serial_num').val(),
					'national_invoice_date': $('#national_invoice_date').val(), 
					'national_invoice_tax_no': $('#national_invoice_tax_no').val(), 
					'national_invoice_no': $('#national_invoice_no').val(), 
					'local_invoice_date': $('#local_invoice_date').val(), 
					'local_invoice_tax_no': $('#local_invoice_tax_no').val()},
	    		function(data) {
	    			if(data.code == 1){
	    				window.location.href = '{$context_path}' + "/projectsettlement/bills/toprint?serial_num={$projectSettlement.serialNum}";
	    			} else {
	    				alert("保存失败 !");
	    			}
	    		},
				'JSON');
	}
}

function toscan() {
	window.location.href = "{$context_path}/projectsettlement/toscan_invoice?serial_num={$projectSettlement.serialNum}"
}
</script>
</body>
</html>
