<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>查看扫描文件</title>
  <script src="{$context_path}/javascript/jquery-1.9.1.min.js"></script>
  <script src="{$context_path}/javascript/unslider-min.js"></script>
  <link rel="stylesheet" type="text/css" href="{$context_path}/styles/unslider.css">
  <link rel="stylesheet" type="text/css" href="{$context_path}/styles/unslider-dots.css">
  <link rel="stylesheet" type="text/css" href="{$context_path}/styles/animate.min.css">
  <style type="text/css">
  	body{margin:0;padding:0}/*去除网页内容的默认留白*/
  	#center {
		margin-left: 30%;
	}
  </style>
</head>
<body style="margin: 0px; background: #0e0e0e;">
	{if $checkFiles|@count eq 0}<label style="color: white;font-weight: bold;">还未上传附件</label>{else}
	<div id="center">
	<a href="#" style="color: white;font-weight: bold;" onclick="show_img(0)">上一页</a>
	
	<img align="center" id="showImg" src="" style="-webkit-user-select: none;background-size: 20px 20px;background-image:linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);" width="50%" height="100%">
	<a href="#" style="color: white;font-weight: bold;" onclick="show_img(1)">下一页</a>
	</div>
	{/if}
	
	{foreach from=$checkFiles item=file name=idx key=key}
		<input type="hidden" class="tx-img-urls" value="{$context_path}/data/{$file.fileName}">
	{/foreach}
</body>
<script type="text/javascript">
	var totalImgCount = 0;
	var currentImgIdx = 0;
	var imgUrls = new Array();
	
	$(document).ready(function(){
		var $hiddenImgUrls = $(".tx-img-urls");
		totalImgCount = $hiddenImgUrls.length;
		var currentImagUrl = $hiddenImgUrls[currentImgIdx].value;
		$('#showImg').attr("src", currentImagUrl);
		for (var i=0; i<totalImgCount; i++) {
			imgUrls[i] = $hiddenImgUrls[i].value;
		}
	});

	function show_img(direction) {
		//向上翻页
		if (direction == 0) {
			if (currentImgIdx==0) {
				currentImgIdx = totalImgCount-1;
			} else {
				currentImgIdx = currentImgIdx-1;
			}
		} else {
			if (currentImgIdx==totalImgCount-1) {
				currentImgIdx = 0;
			} else {
				currentImgIdx = currentImgIdx+1;
			}
		}
		
		$('#showImg').attr("src", imgUrls[currentImgIdx]);
	}
</script>
</html>